@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import "antd/dist/antd.css";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "../fonts/font.css";

html,
body,
#root {
  font-family: "NanumSquare_acR" !important;
  font-weight: 500;
  margin: 0;
  height: 100%;
}

/* html tag */
p {
  margin-bottom: 0;
}

/* margin */
.m-0-50 {
  margin: 0 50px;
}
.mt-20 {
  margin-top: 20px;
}

/* font */
.color-0 {
  color: #C41C7F;
}
.color-1 {
  color: #004F9F;
}
.color-2 {
  color: #F39200;
}
.color-3 {
  color: #EA4E3D;
}
.color-4 {
  color: #7EB105;
}
.underline {
  text-decoration: underline;
}

/* border */
.bl-1 {
  border-left: 3px solid #004F9F !important;
}
.bl-2 {
  border-left: 3px solid #F39200 !important;
}
.bl-3 {
  border-left: 3px solid #EA4E3D !important;
}
.bl-4 {
  border-left: 3px solid #7EB105 !important;
}

/* background */
.bgc-1 {
  background-color: #004F9F !important;
}
.bgc-2 {
  background-color: #F39200 !important;
}
.bgc-3 {
  background-color: #EA4E3D !important;
}
.bgc-4 {
  background-color: #7EB105 !important;
}


/* Welcome Layout */
#welcome-layout {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex: auto;
  flex-direction: column;
  background-image: url(/src/assets/images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
}

#welcome-layout #content {
  width: 80%;
  height: 100%;
  min-height: 94vh;
  margin: auto;
  flex: auto;
}

#welcome-layout .project-year {
  margin: 40px 0;
  font-weight: bold;
  font-family: "NanumSquareEB";
}

#welcome-layout .project-sub-title {
  font-size: 20px;
}

#welcome-layout .project-title {
  font-size: 42px;
  font-weight: bold;
  font-family: "CodeNext-Trial-ExtraBold";
  line-height: 1em;
}

@keyframes blink-effect { 50% { opacity: 0; } } 
#welcome-layout .touch-comment-wrap {
  width: 80%;
  bottom: 15%;
  position: fixed;
  text-align: center;
  color: #FFF;
  animation: blink-effect 1.8s ease-in-out infinite;
  font-size: 16px;
}

#welcome-layout .touch-comment-wrap .touch-image {
  margin-bottom: 4px;
}
/* Welcome Layout */


/* Main Layout */
.ant-spin-nested-loading {
  height: 100%;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-text {
  font-size: 20px;
  text-shadow: unset;
}

#main-layout {
  height: 100%;
}

#main-layout .main-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "CodeNext-Trial-ExtraBold";
  line-height: 1em;
  padding-top: 20px;
}

#main-layout .main-user-box {
  border-right: 4px solid #C41C7F;
  min-height: 170px;
  padding: 20px 18px;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

#main-layout .main-user-box .main-user-box-text-01 {
  font-size: 16px;
  font-family: "NanumSquareEB";
}

#main-layout .main-user-box .main-user-box-text-02 {
  font-size: 12px;
  padding: 4px 0;
}

#main-layout .main-user-box .main-user-box-text-03 {
  font-size: 18px;
  font-family: "NanumSquareEB";
}

#main-layout .main-user-box .main-user-box-text-04 {
  font-size: 16px;
}

#main-layout .main-user-box .main-user-btn-01 {
  background-color: #C41C7F;
  color: #FFF;
  margin-right: 4px;
}

#main-layout .main-user-box .main-user-btn-02 {
  background-color: darkgray;
  color: #FFF;
}

#main-layout .main-user-box .main-user-box-logout {
  margin-right: 4px;
}

#main-layout .main-user-box .category-bar-wrap {
  margin: 10px 0;
}

#main-layout .main-user-box .category-bar-wrap .category-bar-count {
  text-align: end;
  font-size: 13px;
  color: #747474;
}

#main-layout .main-user-box .category-bar-wrap .category-bar-count .count {
  font-size: 13px;
  font-weight: bold;
  color: #4C4C4C;
}

#main-layout .main-info .main-info-title {
  font-size: 16px;
  font-family: "NanumSquareEB";
}

#main-layout .main-info .main-info-content {
  font-size: 12px;
}

#main-layout .main-category {
  margin-top: 30px;
}

#main-layout .main-category .main-category-mz {
  padding-right: 4px;
  padding-bottom: 4px;
}
#main-layout .main-category .main-category-mz .ant-card {
  border-radius: 8px;
  background-image: url(/src/assets/images/main_box_01.png);
  background-repeat: round;
}

#main-layout .main-category .main-category-spirit {
  padding-left: 4px;
  padding-bottom: 4px;
}
#main-layout .main-category .main-category-spirit .ant-card {
  border-radius: 8px;
  background-image: url(/src/assets/images/main_box_02.png);
  background-repeat: round;
}

#main-layout .main-category .main-category-3040 {
  padding-top: 4px;
  padding-right: 4px;
}
#main-layout .main-category .main-category-3040 .ant-card {
  border-radius: 8px;
  background-image: url(/src/assets/images/main_box_03.png);
  background-repeat: round;
}

#main-layout .main-category .main-category-climate {
  padding-top: 4px;
  padding-left: 4px;
}
#main-layout .main-category .main-category-climate .ant-card {
  border-radius: 8px;
  background-image: url(/src/assets/images/main_box_04.png);
  background-repeat: round;
}

#main-layout .main-category .ant-card-body {
  min-height: 172px;
}

#main-layout .main-category .main-category-title {
  font-family: "GmarketSansTTFBold";
  font-size: 20px;
  margin-bottom: 0;
  color: #FFF;
}

#main-layout .main-category .main-category-subtitle {
  font-family: "GmarketSansTTFMedium";
  font-size: 14px;
  margin-bottom: 0;
  color: #DCDCDC;
}


.user-attendance-modal-icon {
  margin-bottom: 30px;
}
.user-attendance-modal-icon .icon-wrap {
  text-align: center;
}
.user-attendance-modal-icon .icon-wrap img {
  cursor: pointer;
}

#main-layout #content {
  width: 90%;
  height: 100%;
  min-height: 94vh;
  margin: auto;
  flex: auto;
}
/* Main Layout */


/* Category Layout */
#category-layout.mzGeneration {
  background-color: #004f9f;
}

#category-layout.spirit {
  background-color: #F39200;
}

#category-layout.youngAdult {
  background-color: #EA4E3D;
}

#category-layout.climate {
  background-color: #7EB105;
}

#category-layout .category-info {
  color: #FFF;
  padding-top: 30px;
}

#category-layout .category-info p {
  text-align: center;
  line-height: normal;
}

#category-layout .category-info .category-info-title {
  font-family: "GmarketSansTTFBold";
  font-size: 50px;
}

#category-layout .category-info .category-info-subtitle {
  font-family: "GmarketSansTTFBold";
  font-size: 20px;
}

#category-layout .category-info .category-info-content {
  font-size: 12px;
}

#category-layout .category-logo {
  text-align: center;
}

#category-layout .category-list p {
  text-align: center;
  line-height: normal;
}

#category-layout .category-list .ant-card {
  border-radius: 20px;
}

#category-layout .category-list .ant-card-body {
  padding: 34px 24px;
}

#category-layout .category-list .category-list-title {
  font-family: "GmarketSansTTFBold";
  font-size: 22px;
}

#category-layout .category-list .category-list-subtitle {
  font-family: "NanumSquareB";
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 6px;
}

#category-layout .category-list .category-list-content {
  font-size: 12px;
}

#category-layout .category-list .category-list-data {
  font-size: 11px;
  border: 1px solid #d9d9d9;
  margin: 20px 0;
}

#category-layout .category-list .category-list-data .category-list-data-row {
  border-bottom: 1px solid #d9d9d9;
}

#category-layout .category-list .category-list-data .category-list-data-row.even {
  background-color: #F6F6F6;
}

#category-layout .category-list .category-list-data .category-list-data-row.last {
  border-bottom: 0;
}

#category-layout .category-list .category-list-data .category-list-data-col-1 {
  padding: 6px;
}

#category-layout .category-list .category-list-data .category-list-data-col-2 {
  padding: 6px;
}

#category-layout .category-list .category-list-data .category-list-data-col-3 {
  text-align: center;
  padding-top: 4px;
}

#category-layout .category-list .category-list-bottom {
  text-align: center;
}

#category-layout .category-list .category-list-button {
  border-radius: 8px;
  width: 50%;
}

#category-layout .category-list .category-list-button[disabled] {
  background-color: #d9d9d9 !important;
}

#category-layout .category-stamp {
  margin: 30px 0;
}

#category-layout .category-stamp .category-stamp-title {
  font-family: "GmarketSansTTFLight";
  font-size: 22px;
  position: absolute;
  top: 34px;
  width: 100%;
  text-align: center;
}

#category-layout .category-stamp .category-stamp-title .color-1, .color-2, .color-3, .color-4 {
  font-family: "GmarketSansTTFBold";
}

#category-layout .category-stamp .category-stamp-content {
  position: absolute;
  top: 68px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

#category-layout .category-stamp .category-stamp-bottom {
  position: absolute;
  bottom: 80px;
  width: 100%;
}

#category-layout .category-stamp .category-stamp-bottom .category-stamp-count {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  color: #FFF;
  padding: 12px;
}

#category-layout .category-stamp .category-stamp-bottom .category-stamp-count .category-stamp-count-bar {
  border-right: 1px solid;
  margin: 6px 0;
}
/* Category Layout */


/* UserSelectModal */
.ant-modal-confirm-content .user-name {
  font-size: 16px;
  font-family: "NanumSquareEB";
}
/* UserSelectModal */


/* SearchAttendanceModal */
.ant-modal-wrap.search-attendance-modal-wrap .ant-modal-body {
  min-height: 380px;
}

.ant-modal-wrap.search-attendance-modal-wrap .ant-modal,
.ant-modal-wrap.search-attendance-modal-wrap .ant-modal-content {
  border-radius: 15px;
}
.ant-modal-wrap.search-attendance-modal-wrap .ant-modal-header {
  border-radius: 15px 15px 0 0;
}

.ant-modal-wrap.search-attendance-modal-wrap .search-wrap {
  text-align: center;
}

.ant-modal-wrap.search-attendance-modal-wrap
  .search-wrap
  .ant-input-affix-wrapper {
  height: 40px;
  border-radius: 20px;
  /* max-width: 500px; */
  /* box-shadow: 0 2px 4px rgb(0 0 0 / 30%); */
}

.ant-modal-wrap.search-attendance-modal-wrap
  .search-wrap
  .ant-input-affix-wrapper
  .anticon.anticon-search {
  color: #4285f4;
  font-size: 22px;
}

.ant-modal-wrap.search-attendance-modal-wrap .grid-wrap {
  font-size: 14px;
  border: 1px solid #d9d9d9;
  margin: 20px 0;
  text-align: center;
  max-height: 280px;
  overflow: scroll;
}

.ant-modal-wrap.search-attendance-modal-wrap .grid-wrap.no-data {
  border: 0;
}

.ant-modal-wrap.search-attendance-modal-wrap .grid-wrap .grid-data-row {
  border-bottom: 1px solid #d9d9d9;
}

.ant-modal-wrap.search-attendance-modal-wrap .grid-wrap .grid-data-row.even {
  background-color: #F6F6F6;
}

.ant-modal-wrap.search-attendance-modal-wrap .grid-wrap .grid-data-row.last {
  border-bottom: 0;
}

.ant-modal-wrap.search-attendance-modal-wrap .grid-wrap .grid-data-col-1 {
  padding: 6px;
  border-right: 1px solid #d9d9d9;
}

.ant-modal-wrap.search-attendance-modal-wrap .grid-wrap .grid-data-col-2 {
  padding: 6px;
  border-right: 1px solid #d9d9d9;
}

.ant-modal-wrap.search-attendance-modal-wrap .grid-wrap .grid-data-col-3 {
  padding-top: 6px;
}
/* SearchAttendanceModal */


/* pc page */
.on-pc-icon {
  text-align: center;
  font-size: 100px;
  color: #faad14;
}
.on-pc-status-code {
  display: block;
  margin: 14px 0;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000;
}
.on-pc-status-message {
  display: block;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.4px;
  text-align: center;
  word-break: keep-all;
  color: #666;
}
/* pc page */


/* 404 page */
.not-found-icon {
  text-align: center;
  font-size: 100px;
  color: #faad14;
}
.not-found-code {
  display: block;
  margin: 14px 0;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000;
}
.not-found-message {
  display: block;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.4px;
  text-align: center;
  word-break: keep-all;
  color: #666;
}
/* 404 page */
