@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import "antd/dist/antd.css";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "../fonts/font.css";

html,
body,
#root {
  font-family: "NanumSquare_acR" !important;
  font-weight: 500;
  margin: 0;
  height: 100%;
}

:root {
  --color-1-1: #FF4D4C;
  --color-1-2: #CC8D8D;
  --color-2-1: #0BAEEB;
  --color-2-2: #70B5D2;
  --color-3-1: #7935FE;
  --color-3-2: #987BD0;
  --color-4-1: #1677ff;
  --color-0: #A9A9A9;
}

/* html tag */
p {
  margin-bottom: 0;
}

/* padding */
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-50 {
  padding-left: 50px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-25 {
  padding-right: 25px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-50 {
  padding-right: 50px;
}

/* margin */
.m-0-50 {
  margin: 0 50px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}

/* font */
.color-0 {
  color: #C41C7F;
}
.color-1 {
  color: #004F9F;
}
.color-2 {
  color: #F39200;
}
.color-3 {
  color: #EA4E3D;
}
.color-4 {
  color: #7EB105;
}
.underline {
  text-decoration: underline;
}

/* border */
.bl-1 {
  border-left: 3px solid #004F9F !important;
}
.bl-2 {
  border-left: 3px solid #F39200 !important;
}
.bl-3 {
  border-left: 3px solid #EA4E3D !important;
}
.bl-4 {
  border-left: 3px solid #7EB105 !important;
}

/* background */
.bgc-1 {
  background-color: #004F9F !important;
}
.bgc-2 {
  background-color: #F39200 !important;
}
.bgc-3 {
  background-color: #EA4E3D !important;
}
.bgc-4 {
  background-color: #7EB105 !important;
}

/* modal */
.ant-modal {
  top: 20%;
}

/* iPhone 5/SE */
@media (max-width: 320px) and (orientation: portrait) {
  .ant-modal {
    top: 10%;
  }
}

/* Welcome Layout */
#welcome-layout {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex: auto;
  flex-direction: column;
  background-image: url(/src/assets/images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
}

#welcome-layout #content {
  width: 80%;
  height: 100%;
  min-height: 94vh;
  margin: auto;
  flex: auto;
}

#welcome-layout .project-year {
  margin: 40px 0;
  font-weight: bold;
  font-family: "NanumSquareEB";
  font-size: 16px;
}

#welcome-layout .project-sub-title {
  font-size: 20px;
}

#welcome-layout .project-title {
  font-size: 42px;
  font-weight: bold;
  font-family: "CodeNext-Trial-ExtraBold";
  line-height: 1em;
}

@keyframes blink-effect { 50% { opacity: 0; } } 
#welcome-layout .touch-comment-wrap {
  width: 80%;
  bottom: 15%;
  position: fixed;
  text-align: center;
  color: #FFF;
  animation: blink-effect 1.8s ease-in-out infinite;
  font-size: 16px;
}

#welcome-layout .touch-comment-wrap .touch-image {
  margin-bottom: 4px;
}

#welcome-layout .pc-comment {
  width: 80%;
  bottom: 20%;
  position: fixed;
  text-align: center;
  color: #FFF;
  font-size: 28px;
}

/* PC */
@media (min-width: 1024px) {
  #welcome-layout .project-year {
    font-size: 25px;
  }
  #welcome-layout .project-sub-title {
    font-size: 30px;
  }
  #welcome-layout .project-title {
    font-size: 65px;
  }
  #welcome-layout .touch-image .ant-image-img {
    height: 70% !important;
  }
  #welcome-layout .touch-comment {
    font-size: 20px;
  }
}
/* 테블릿 세로 (min-height, landscape가 들어간 이유: 갤럭시탭 가상 키보드 버그) */
@media (min-height: 800px) and (orientation: landscape),
  (min-width: 750px) and (max-width: 1023px) and (orientation: portrait) {
  #welcome-layout .project-year {
    font-size: 20px;
  }
  #welcome-layout .project-sub-title {
    font-size: 25px;
  }
  #welcome-layout .project-title {
    font-size: 55px;
  }
  #welcome-layout .touch-image .ant-image-img {
    height: 70% !important;
  }
  #welcome-layout .touch-comment {
    font-size: 20px;
  }
}
/* 테블릿 가로 */
@media (min-width: 899px) and (max-width: 1023px) and (orientation: landscape) {
  #welcome-layout .project-year {
    font-size: 25px;
  }
  #welcome-layout .project-sub-title {
    font-size: 30px;
  }
  #welcome-layout .project-title {
    font-size: 65px;
  }
}

/* Welcome Layout */


/* Header */
#header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  font-family: "NanumSquareEB";
  background-color: #FFF;
}

.header-content {
  height: 100%;
}

.header-left {
  margin: auto;
  text-align: center;
  line-height: normal;
}

.header-center {
  margin: auto;
  text-align: center;
  font-size: 16px;
}
/* Header */


/* Main Layout */
.ant-spin-nested-loading {
  height: 100%;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-text {
  font-size: 20px;
  text-shadow: unset;
}

#main-layout {
  height: 100%;
}

#main-layout .main-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "CodeNext-Trial-ExtraBold";
  line-height: 1em;
  padding-top: 20px;
}

#main-layout .main-user-box {
  border-right: 4px solid #C41C7F;
  min-height: 170px;
  padding: 20px 18px;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

#main-layout .main-user-box .main-user-box-text-01 {
  font-size: 18px;
  font-family: "NanumSquareEB";
}

#main-layout .main-user-box .main-user-box-text-02 {
  font-size: 14px;
  padding: 4px 0;
}

#main-layout .main-user-box .main-user-box-text-03 {
  font-size: 18px;
  font-family: "NanumSquareEB";
}

#main-layout .main-user-box .main-user-box-text-04 {
  font-size: 16px;
}

#main-layout .main-user-box .main-user-btn-01 {
  background-color: #C41C7F;
  color: #FFF;
  margin-right: 4px;
  margin-top: 4px
}

#main-layout .main-user-box .main-user-btn-02 {
  background-color: darkgray;
  color: #FFF;
}

#main-layout .main-user-box .main-user-box-logout {
  margin-right: 4px;
}

#main-layout .main-user-box .category-bar-wrap {
  margin: 10px 0;
}

#main-layout .main-user-box .category-bar-wrap .category-bar-count {
  text-align: end;
  font-size: 13px;
  color: #747474;
}

#main-layout .main-user-box .category-bar-wrap .category-bar-count .count {
  font-size: 13px;
  font-weight: bold;
  color: #4C4C4C;
}

#main-layout .main-info .main-info-title {
  font-size: 16px;
  font-family: "NanumSquareEB";
}

#main-layout .main-info .main-info-content {
  font-size: 13px;
  word-break: keep-all;
}

#main-layout .main-category {
  padding: 30px 0;
}

#main-layout .main-category .main-category-mz {
  padding-right: 4px;
  padding-bottom: 4px;
}
#main-layout .main-category .main-category-mz .ant-card {
  border-radius: 8px;
  background-image: url(/src/assets/images/main_box_01.png);
  background-repeat: round;
}

#main-layout .main-category .main-category-spirit {
  padding-left: 4px;
  padding-bottom: 4px;
}
#main-layout .main-category .main-category-spirit .ant-card {
  border-radius: 8px;
  background-image: url(/src/assets/images/main_box_02.png);
  background-repeat: round;
}

#main-layout .main-category .main-category-3040 {
  padding-top: 4px;
  padding-right: 4px;
}
#main-layout .main-category .main-category-3040 .ant-card {
  border-radius: 8px;
  background-image: url(/src/assets/images/main_box_03.png);
  background-repeat: round;
}

#main-layout .main-category .main-category-climate {
  padding-top: 4px;
  padding-left: 4px;
}
#main-layout .main-category .main-category-climate .ant-card {
  border-radius: 8px;
  background-image: url(/src/assets/images/main_box_04.png);
  background-repeat: round;
}

#main-layout .main-category .ant-card-body {
  min-height: 172px;
}

#main-layout .main-category .main-category-title {
  font-family: "GmarketSansTTFBold";
  font-size: 20px;
  margin-bottom: 0;
  color: #FFF;
}

#main-layout .main-category .main-category-subtitle {
  font-family: "GmarketSansTTFMedium";
  font-size: 14px;
  margin-bottom: 0;
  color: #DCDCDC;
}


.user-attendance-modal-icon {
  margin-bottom: 30px;
}
.user-attendance-modal-icon .icon-wrap {
  text-align: center;
}
.user-attendance-modal-icon .icon-wrap img {
  cursor: pointer;
}

#main-layout #content {
  width: 90%;
  height: 100%;
  min-height: 94vh;
  margin: auto;
  flex: auto;
}

/* PC */
@media (min-width: 1024px) {
  #main-layout #content {
    width: 60%;
  }
  #main-layout .main-category .ant-card-body {
    min-height: 260px;
  }
}
/* 테블릿 세로 (min-height, landscape가 들어간 이유: 갤럭시탭 가상 키보드 버그) */
@media (min-height: 800px) and (orientation: landscape),
  (min-width: 750px) and (max-width: 1023px) and (orientation: portrait) {
  #main-layout #content {
    width: 70%;
  }
  #main-layout .main-category .ant-card-body {
    min-height: 260px;
  }
}
/* 테블릿 가로 */
@media (min-width: 899px) and (max-width: 1023px) and (orientation: landscape) {
  #main-layout #content {
    width: 60%;
  }
  #main-layout .main-category .ant-card-body {
    min-height: 220px;
  }
}
/* iPhone 5/SE */
@media (max-width: 320px) and (orientation: portrait) {
  #main-layout .main-user-box .main-user-box-text-01 {
    font-size: 15px;
  }
  #main-layout .main-info .main-info-content {
    font-size: 11px;
  }
  #main-layout .main-category .main-category-subtitle {
    font-size: 11px;
  }
  #main-layout .main-category .main-category-title {
    font-size: 18px;
  }
  #main-layout .main-category .ant-card-body {
    min-height: 150px;
  }
  #main-layout .main-user-box .main-user-box-text-02 {
    font-size: 13px;
  }
}
/* Galaxy S10 5G */
@media (min-width: 412px) and (max-width: 480px) and (orientation: portrait) {
  #main-layout .main-user-box .main-user-box-text-02 {
    font-size: 15px;
  }
  #main-layout .main-info .main-info-title {
    font-size: 17px;
  }
  #main-layout .main-info .main-info-content {
    font-size: 14px;
  }
  #main-layout .main-category .ant-card-body {
    min-height: 182px;
  }
}
/* Main Layout */


/* Category Layout */
#category-layout.mzGeneration {
  background-color: #004f9f;
}

#category-layout.spirit {
  background-color: #F39200;
}

#category-layout.youngAdult {
  background-color: #EA4E3D;
}

#category-layout.climate {
  background-color: #7EB105;
}

#category-layout .category-info {
  color: #FFF;
  padding-top: 40px;
}

#category-layout .category-info p {
  text-align: center;
  line-height: normal;
}

#category-layout .category-info .category-info-title {
  font-family: "GmarketSansTTFBold";
  font-size: 50px;
}

#category-layout .category-info .category-info-subtitle {
  font-family: "GmarketSansTTFBold";
  font-size: 20px;
}

#category-layout .category-info .category-info-content {
  font-size: 12px;
}

#category-layout .category-logo {
  text-align: center;
}

#category-layout .category-list p {
  text-align: center;
  line-height: normal;
}

#category-layout .category-list .ant-card {
  border-radius: 20px;
}

#category-layout .category-list .ant-card-body {
  padding: 34px 24px;
}

#category-layout .category-list .category-list-title {
  font-family: "GmarketSansTTFBold";
  font-size: 22px;
}

#category-layout .category-list .category-list-subtitle {
  font-family: "NanumSquareB";
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 6px;
}

#category-layout .category-list .category-list-content {
  font-size: 12px;
}

#category-layout .category-list .category-list-data {
  font-size: 13px;
  border: 1px solid #d9d9d9;
  margin: 20px 0;
}

#category-layout .category-list .category-list-data .category-list-data-row {
  border-bottom: 1px solid #d9d9d9;
}

#category-layout .category-list .category-list-data .category-list-data-row.even {
  background-color: #F6F6F6;
}

#category-layout .category-list .category-list-data .category-list-data-row.last {
  border-bottom: 0;
}

#category-layout .category-list .category-list-data .category-list-data-col-1 {
  padding: 6px 0 6px 4px;
}

#category-layout .category-list .category-list-data .category-list-data-col-2 {
  padding: 6px 0;
  word-break: keep-all;
}

#category-layout .category-list .category-list-data .category-list-data-col-3 {
  text-align: center;
  padding-top: 4px;
}

#category-layout .category-list .category-list-bottom {
  text-align: center;
}

#category-layout .category-list .category-list-button {
  border-radius: 8px;
  width: 50%;
}

#category-layout .category-list .category-list-button[disabled] {
  background-color: #d9d9d9 !important;
}

#category-layout .category-stamp {
  padding: 40px 0;
}

#category-layout .category-stamp .category-stamp-title {
  font-family: "GmarketSansTTFLight";
  font-size: 22px;
  position: absolute;
  top: 34px;
  width: 100%;
  text-align: center;
}

#category-layout .category-stamp .category-stamp-title .color-1, .color-2, .color-3, .color-4 {
  font-family: "GmarketSansTTFBold";
}

#category-layout .category-stamp .category-stamp-content {
  position: absolute;
  top: 68px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

#category-layout .category-stamp .category-stamp-bottom {
  position: absolute;
  bottom: 80px;
  width: 100%;
}

#category-layout .category-stamp .category-stamp-bottom .category-stamp-count {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  color: #FFF;
  padding: 12px;
}

#category-layout .category-stamp .category-stamp-bottom .category-stamp-count .category-stamp-count-bar {
  border-right: 1px solid;
  margin: 6px 0;
}

/* PC */
@media (min-width: 1024px) {
  #category-layout #content {
    width: 60%;
    margin: auto;
  }
  #category-layout #content .category-logo .ant-image-img {
    width: 60%;
  }
}
/* 테블릿 세로 (min-height, landscape가 들어간 이유: 갤럭시탭 가상 키보드 버그) */
@media (min-height: 800px) and (orientation: landscape),
  (min-width: 750px) and (max-width: 1023px) and (orientation: portrait) {
  #category-layout #content {
    width: 70%;
    margin: auto;
  }
  #category-layout #content .category-logo .ant-image-img {
    width: 70%;
  }
}
/* 테블릿 가로 */
@media (min-width: 899px) and (max-width: 1023px) and (orientation: landscape) {
  #category-layout #content {
    width: 60%;
    margin: auto;
  }
  #category-layout #content .category-logo .ant-image-img {
    width: 60%;
  }
}
/* iPhone 5/SE */
@media (max-width: 320px) and (orientation: portrait) {
  #category-layout .category-info .category-info-title {
    font-size: 40px;
  }
  
  #category-layout .category-info .category-info-subtitle {
    font-size: 16px;
  }
  .category-logo .ant-image {
    width: 250px;
    height: 250px;
  }
  #category-layout .category-list .category-list-data {
    font-size: 12px;
  }
  #category-layout .category-stamp .category-stamp-title {
    top: 30px;
  }
  #category-layout .category-stamp .category-stamp-content {
    top: 64px;
  }
  #category-layout .category-stamp .category-stamp-bottom .category-stamp-count {
    height: 45px;
    font-size: 14px;
    padding: 12px 0 10px 12px;
  }
  .spirit .category-stamp .category-stamp-bottom {
    bottom: 60px !important;
  }
  .youngAdult .category-stamp .category-stamp-bottom {
    bottom: 65px !important;
  }
}
/* Galaxy S10 5G */
@media (min-width: 412px) and (max-width: 480px) and (orientation: portrait) {
  #category-layout .category-info .category-info-content {
    font-size: 13px;
  }
  #category-layout .category-list .category-list-title {
    font-size: 24px;
  }
  #category-layout .category-list .category-list-subtitle {
    font-size: 13px;
  }
  #category-layout .category-list .category-list-content {
    font-size: 13px;
  }
  #category-layout .category-stamp .category-stamp-title {
    font-size: 24px;
  }
  #category-layout .category-stamp .category-stamp-content {
    font-size: 13px;
  }
  #category-layout .category-stamp .category-stamp-bottom .category-stamp-count {
    font-size: 17px;
    padding: 12px 0 12px 12px;
  }
}
/* Category Layout */


/* UserSelectModal */
.ant-modal-confirm-content .user-name {
  font-size: 16px;
  font-family: "NanumSquareEB";
}

.ant-modal-wrap.user-select-modal-wrap .ant-modal-body {
  min-height: 380px;
}

.ant-modal-wrap.user-select-modal-wrap .ant-modal,
.ant-modal-wrap.user-select-modal-wrap .ant-modal-content {
  border-radius: 15px;
}
.ant-modal-wrap.user-select-modal-wrap .ant-modal-header {
  border-radius: 15px 15px 0 0;
}

.ant-modal-wrap.user-select-modal-wrap .search-wrap {
  text-align: center;
}

.ant-modal-wrap.user-select-modal-wrap
  .search-wrap
  .ant-input-affix-wrapper {
  height: 40px;
  border-radius: 20px;
}

.ant-modal-wrap.user-select-modal-wrap
  .search-wrap .ant-input {
  font-size: 16px;
}

.ant-modal-wrap.user-select-modal-wrap
  .search-wrap
  .ant-input-affix-wrapper
  .anticon.anticon-search {
  color: #4285f4;
  font-size: 22px;
}

.ant-modal-wrap.user-select-modal-wrap .grid-wrap {
  font-size: 14px;
  border: 1px solid #d9d9d9;
  margin: 20px 0;
  text-align: center;
  max-height: 280px;
  overflow: scroll;
}

.ant-modal-wrap.user-select-modal-wrap .grid-wrap.no-data {
  border: 0;
}

.ant-modal-wrap.user-select-modal-wrap .grid-wrap .grid-data-row {
  border-bottom: 1px solid #d9d9d9;
}

.ant-modal-wrap.user-select-modal-wrap .grid-wrap .grid-data-row.even {
  background-color: #F6F6F6;
}

.ant-modal-wrap.user-select-modal-wrap .grid-wrap .grid-data-row.last {
  border-bottom: 0;
}

.ant-modal-wrap.user-select-modal-wrap .grid-wrap .grid-data-col-1 {
  padding: 6px;
  border-right: 1px solid #d9d9d9;
}

.ant-modal-wrap.user-select-modal-wrap .grid-wrap .grid-data-col-2 {
  padding: 6px;
  border-right: 1px solid #d9d9d9;
}

.ant-modal-wrap.user-select-modal-wrap .grid-wrap .grid-data-col-3 {
  padding-top: 6px;
}
/* UserSelectModal */


/* UserHistModal */
.ant-modal-wrap.user-hist-modal-wrap .ant-modal {
  top: 70px;
}

.ant-modal-wrap.user-hist-modal-wrap .ant-modal-header {
  border-bottom: 0;
  padding: 30px 24px;
}

.ant-modal-wrap.user-hist-modal-wrap .ant-modal-body {
  height: 450px;
  overflow: scroll;
  padding-top: 4px;
}

.ant-modal-wrap.user-hist-modal-wrap .ant-modal-body .ant-steps-vertical > .ant-steps-item {
  padding-bottom: 10px;
}

.ant-modal-wrap.user-hist-modal-wrap 
.ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: rgba(0, 0, 0, 0.45);
}

.ant-modal-wrap.user-hist-modal-wrap 
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: rgba(0, 0, 0, 0.45);
  width: 100%;
  padding: 0;
}

.ant-modal-wrap.user-hist-modal-wrap 
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  width: 100%;
  padding: 0;
}

.ant-modal-wrap.user-hist-modal-wrap 
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
}

.ant-modal-wrap.user-hist-modal-wrap .hist-title {
  font-family: "NanumSquareEB";
  color: #4C4C4C;
}

.ant-modal-wrap.user-hist-modal-wrap .hist-date {
  text-align: end;
  font-size: 12px;
}
/* UserHistModal */


/* MyPage */
#mypage-layout .user-info {
  font-size: 20px;
  padding: 40px 20px;
  font-family: "NanumSquareEB";
  background: #fafafa;
}

#mypage-layout .ant-tabs-nav-list {
  width: 100%;
}
#mypage-layout .ant-tabs-nav-list .ant-tabs-tab {
  text-align: center;
  flex: none;
  display: block;
  margin-left: 0;
  border: 0;
}
#mypage-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(1) {
  width: 18%;
  font-size: 14px;
}
#mypage-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(2) {
  width: 23%;
  font-size: 14px;
}
#mypage-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(3) {
  width: 18%;
  font-size: 14px;
}
#mypage-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(4) {
  width: 23%;
  font-size: 14px;
}
#mypage-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(5) {
  width: 18%;
  font-size: 14px;
}

#mypage-layout .ant-tabs-content-holder {
  padding: 10px 20px;
}

#mypage-layout .ant-steps-vertical > .ant-steps-item {
  padding-bottom: 20px;
}

#mypage-layout
.ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: rgba(0, 0, 0, 0.45);
}

#mypage-layout
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: rgba(0, 0, 0, 0.45);
  width: 100%;
  padding: 0;
  font-size: 16px;
}

#mypage-layout
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  width: 100%;
  padding: 0;
  font-size: 16px;
}

#mypage-layout
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

#mypage-layout
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

#mypage-layout .hist-title {
  color: #4C4C4C;
}

#mypage-layout .hist-date {
  text-align: end;
  font-size: 13px;
}

#mypage-layout .hist-no-data {
  text-align: center;
  font-size: 16px;
}

/* PC */
@media (min-width: 1024px) {
  #mypage-layout #content {
    width: 60%;
    margin: auto;
  }
}
/* 테블릿 세로 (min-height, landscape가 들어간 이유: 갤럭시탭 가상 키보드 버그) */
@media (min-height: 800px) and (orientation: landscape),
  (min-width: 750px) and (max-width: 1023px) and (orientation: portrait) {
  #mypage-layout #content {
    width: 70%;
    margin: auto;
  }
}
/* 테블릿 가로 */
@media (min-width: 899px) and (max-width: 1023px) and (orientation: landscape) {
  #mypage-layout #content {
    width: 60%;
    margin: auto;
  }
}
/* Galaxy S10 5G */
@media (min-width: 412px) and (max-width: 480px) and (orientation: portrait) {
  #mypage-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(1) {
    font-size: 15px;
  }
  #mypage-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(2) {
    font-size: 15px;
  }
  #mypage-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(3) {
    font-size: 15px;
  }
  #mypage-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(4) {
    font-size: 15px;
  }
  #mypage-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(5) {
    font-size: 15px;
  }
  #mypage-layout
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    font-size: 16px;
  }
  
  #mypage-layout
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    font-size: 16px;
  }
  
  #mypage-layout
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
    font-size: 15px;
  }
  
  #mypage-layout
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
    font-size: 15px;
  }
}
/* MyPage */


/* Rank */
#rank-layout {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #FFD600;
  background-image: linear-gradient(#FFBB00 1px, transparent 1px), linear-gradient(to right, #FFBB00 1px, #FFD600 1px);
  background-size: 80px 80px;
}

#rank-layout #rank-layout-image  {
  height: 100%;
  width: 100%;
  background-image: url(/src/assets/images/bg_rank.png);
  background-repeat: no-repeat;
  background-size: 1920px 1050px;
  position: absolute;
  z-index: 3000;
  top: 35px;
}

#rank-layout .rank-header {
  font-family: "ChangwonDangamAsac-Bold";
  font-size: 60px;
  text-align: center;
  padding: 60px 0;
}

#rank-layout .rank-header span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce .4s ease infinite alternate;
  font-size: 80px;
  color: #FFF;
  text-shadow: 
        -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000,
        1px 1px #000, 2px 2px #000,
        3px 3px #ED4C00, 4px 4px #ED4C00,
        5px 5px #ED4C00, 6px 6px #ED4C00,
        7px 7px #000, 8px 8px #000;
}

#rank-layout .rank-header span:nth-child(2) { animation-delay: .1s; }
#rank-layout .rank-header span:nth-child(3) { animation-delay: .2s; }
#rank-layout .rank-header span:nth-child(4) { animation-delay: .3s; }
#rank-layout .rank-header span:nth-child(5) { animation-delay: .4s; }
#rank-layout .rank-header span:nth-child(6) { animation-delay: .5s; }
#rank-layout .rank-header span:nth-child(7) { animation-delay: .6s; }
#rank-layout .rank-header span:nth-child(8) { animation-delay: .7s; }
#rank-layout .rank-header span:nth-child(9) { animation-delay: .8s; }
#rank-layout .rank-header span:nth-child(10) { animation-delay: .9s; }
#rank-layout .rank-header span:nth-child(11) { animation-delay: .10s; }
#rank-layout .rank-header span:nth-child(12) { animation-delay: .11s; }
#rank-layout .rank-header span:nth-child(13) { animation-delay: .12s; }

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 
        -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000,
        1px 1px #000, 2px 2px #000,
        3px 3px #ED4C00, 4px 4px #ED4C00,
        5px 5px #ED4C00, 6px 6px #ED4C00,
        7px 7px #000, 8px 8px #000;
  }
}

#rank-layout .ant-card {
  border-radius: 20px;
  border-left: 4px solid;
  border-right: 10px solid;
  border-top: 4px solid;
  border-bottom: 10px solid;
  min-height: 760px;
}

#rank-layout .ant-card-head {
  font-family: "ChangwonDangamAsac-Bold";
  font-size: 44px;
  text-align: center;
  border-bottom: 0;
  padding: 20px 10px;
}

#rank-layout .rank-card-3 .ant-card-head {
  padding-bottom: 0;
}

#rank-layout .rank-card-1 .ant-card-head .ant-card-head-title {
  color: var(--color-1-1);
}
#rank-layout .rank-card-2 .ant-card-head .ant-card-head-title {
  color: var(--color-2-1);
}
#rank-layout .rank-card-3 .ant-card-head .ant-card-head-title {
  color: var(--color-3-1);
  padding: 0;
  font-size: 39px;
}

#rank-layout .ant-card-body {
  font-family: "GmarketSansTTFLight";
  font-size: 28px;
}

#rank-layout .ant-card-body .rank-list-data-row {
  margin-bottom: 6px;
}

#rank-layout .ant-card-body .rank-list-data-row.rank {
  border-radius: 20px;
}

#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank1 {
  border: 2px solid var(--color-1-1);
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank2 {
  border: 2px solid var(--color-1-2);
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank3 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank1 {
  border: 2px solid var(--color-2-1);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank2 {
  border: 2px solid var(--color-2-2);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank3 {
  border: 2px solid var(--color-0);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank1 {
  border: 2px solid var(--color-3-1);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank2 {
  border: 2px solid var(--color-3-2);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank3 {
  border: 2px solid var(--color-0);
}

#rank-layout .ant-card-body .rank-list-data-row .rank-list-data-col-1 {
  font-family: "ChangwonDangamAsac-Bold";
  text-align: center;
}

#rank-layout .ant-card-body .rank-list-data-row.rank .rank-list-data-col-1 {
  border-radius: 17px 0 0 17px;
  color: #FFF;
  padding: 6px 0;
}

#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-1 {
  background: var(--color-1-1);
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-1 {
  background: var(--color-1-2);
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-1 {
  background: var(--color-2-1);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-1 {
  background: var(--color-2-2);
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-1 {
  background: var(--color-0);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-1 {
  background: var(--color-3-1);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-1 {
  background: var(--color-3-2);
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-1 {
  background: var(--color-0);
}

#rank-layout .ant-card-body .rank-list-data-col-2 .ant-typography {
  font-size: 18px;
  color: unset;
}

#rank-layout .ant-card-body .rank-list-data-row .rank-list-data-col-2 {
  padding: 2px 0px 0px 30px;
  font-weight: bold;
}

#rank-layout .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-2 {
  font-family: "GmarketSansTTFBold";
}

#rank-layout .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-2,
#rank-layout .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-2,
#rank-layout .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-2 {
  padding: 8px 0px 0px 30px;
}

#rank-layout .ant-card-body .rank-list-data-col-3 {
  font-family: "GmarketSansTTFBold";
  text-align: right;
  padding: 0px 24px 0px 0px;
}

#rank-layout .ant-card-body .rank-list-data-row.rank1 .rank-list-data-col-3,
#rank-layout .ant-card-body .rank-list-data-row.rank2 .rank-list-data-col-3,
#rank-layout .ant-card-body .rank-list-data-row.rank3 .rank-list-data-col-3 {
  padding: 8px 24px 0px 0px;
}

#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank1 {
	animation: color-change-5x-1-1 5s linear infinite alternate both;
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank2 {
	animation: color-change-5x-1-2 5s linear infinite alternate both;
}
#rank-layout .rank-card-1 .ant-card-body .rank-list-data-row.rank3 {
	animation: color-change-5x-1-3 5s linear infinite alternate both;
}
@keyframes color-change-5x-1-1 {
  0% { background: #FFF; color: #000; }
  25% { background: #FFF; color: #000; }
  50% { background: var(--color-1-1); color: #FFF; }
  75% { background: var(--color-1-1); color: #FFF; }
  100% { background: var(--color-1-1); color: #FFF; }
}
@keyframes color-change-5x-1-2 {
  0% { background: #FFF; color: #000; }
  25% { background: #FFF; color: #000; }
  50% { background: var(--color-1-2); color: #FFF; }
  75% { background: var(--color-1-2); color: #FFF; }
  100% { background: var(--color-1-2); color: #FFF; }
}
@keyframes color-change-5x-1-3 {
  0% { background: #FFF; color: #000; }
  25% { background: #FFF; color: #000; }
  50% { background: var(--color-0); color: #FFF; }
  75% { background: var(--color-0); color: #FFF; }
  100% { background: var(--color-0); color: #FFF; }
}

#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank1 {
	animation: color-change-5x-2-1 5s linear infinite alternate both;
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank2 {
	animation: color-change-5x-2-2 5s linear infinite alternate both;
}
#rank-layout .rank-card-2 .ant-card-body .rank-list-data-row.rank3 {
	animation: color-change-5x-2-3 5s linear infinite alternate both;
}
@keyframes color-change-5x-2-1 {
  0% { background: #FFF; color: #000; }
  25% { background: #FFF; color: #000; }
  50% { background: var(--color-2-1); color: #FFF; }
  75% { background: var(--color-2-1); color: #FFF; }
  100% { background: var(--color-2-1); color: #FFF; }
}
@keyframes color-change-5x-2-2 {
  0% { background: #FFF; color: #000; }
  25% { background: #FFF; color: #000; }
  50% { background: var(--color-2-2); color: #FFF; }
  75% { background: var(--color-2-2); color: #FFF; }
  100% { background: var(--color-2-2); color: #FFF; }
}
@keyframes color-change-5x-2-3 {
  0% { background: #FFF; color: #000; }
  25% { background: #FFF; color: #000; }
  50% { background: var(--color-0); color: #FFF; }
  75% { background: var(--color-0); color: #FFF; }
  100% { background: var(--color-0); color: #FFF; }
}

#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank1 {
	animation: color-change-5x-3-1 5s linear infinite alternate both;
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank2 {
	animation: color-change-5x-3-2 5s linear infinite alternate both;
}
#rank-layout .rank-card-3 .ant-card-body .rank-list-data-row.rank3 {
	animation: color-change-5x-3-3 5s linear infinite alternate both;
}
@keyframes color-change-5x-3-1 {
  0% { background: #FFF; color: #000; }
  25% { background: #FFF; color: #000; }
  50% { background: var(--color-3-1); color: #FFF; }
  75% { background: var(--color-3-1); color: #FFF; }
  100% { background: var(--color-3-1); color: #FFF; }
}
@keyframes color-change-5x-3-2 {
  0% { background: #FFF; color: #000; }
  25% { background: #FFF; color: #000; }
  50% { background: var(--color-3-2); color: #FFF; }
  75% { background: var(--color-3-2); color: #FFF; }
  100% { background: var(--color-3-2); color: #FFF; }
}
@keyframes color-change-5x-3-3 {
  0% { background: #FFF; color: #000; }
  25% { background: #FFF; color: #000; }
  50% { background: var(--color-0); color: #FFF; }
  75% { background: var(--color-0); color: #FFF; }
  100% { background: var(--color-0); color: #FFF; }
}
/* Rank */


/* Rank Game*/
#rank-game-layout {
  height: 100%;
  width: 100%;
  font-family: "ChangwonDangamAsac-Bold";
  position: fixed;
}
#rank-game-layout::before {
  content: "";
  opacity: 0.7;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
}

#rank-game-layout.type-1 {
  background-image: url(/src/assets/images/bg_slamdunk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#rank-game-layout.type-2 {
  background-image: url(/src/assets/images/bg_golf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#rank-game-layout.type-3 {
  background-image: url(/src/assets/images/bg_dart.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#rank-game-layout.type-4 {
  background-image: url(/src/assets/images/bg_childhood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#rank-game-layout .rank-game-head {
  font-size: 32px;
  color: #FFF;
  text-align: center;
  padding: 40px 0;
}
#rank-game-layout.type-3 .rank-game-head {
  font-size: 28px;
}

#rank-game-layout.type-1 .rank-game-head {
  text-shadow: 
        -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000,
        1px 1px #000, 2px 2px #000,
        3px 3px var(--color-1-1), 4px 4px var(--color-1-1),
        5px 5px var(--color-1-1), 6px 6px var(--color-1-1),
        7px 7px #000, 8px 8px #000;
}
#rank-game-layout.type-2 .rank-game-head {
  text-shadow: 
        -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000,
        1px 1px #000, 2px 2px #000,
        3px 3px var(--color-2-1), 4px 4px var(--color-2-1),
        5px 5px var(--color-2-1), 6px 6px var(--color-2-1),
        7px 7px #000, 8px 8px #000;
}
#rank-game-layout.type-3 .rank-game-head {
  text-shadow: 
        -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000,
        1px 1px #000, 2px 2px #000,
        3px 3px var(--color-3-1), 4px 4px var(--color-3-1),
        5px 5px var(--color-3-1), 6px 6px var(--color-3-1),
        7px 7px #000, 8px 8px #000;
}
#rank-game-layout.type-4 .rank-game-head {
  text-shadow: 
        -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000,
        1px 1px #000, 2px 2px #000,
        3px 3px var(--color-4-1), 4px 4px var(--color-4-1),
        5px 5px var(--color-4-1), 6px 6px var(--color-4-1),
        7px 7px #000, 8px 8px #000;
}

#rank-game-layout .rank-game-body {
  width: 80%;
  margin: auto;
}

#rank-game-layout .rank-game-body .form-item-wrap label {
  font-size: 20px;
  color: #FFF;
}

#rank-game-layout .rank-game-body .form-item-wrap input {
  font-family: "GmarketSansTTFBold";
  font-size: 18px;
}

#rank-game-layout .rank-game-body .form-item-wrap .ant-select-selector {
  font-family: "GmarketSansTTFBold";
  font-size: 18px;
}

#rank-game-layout .rank-game-foot {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#rank-game-layout .rank-game-foot button {
  width: 100%;
  height: 60px;
  font-size: 24px;
}

#rank-game-layout.type-1 .rank-game-foot button {
  background: var(--color-1-1);
  border: 1px solid var(--color-1-1);
}
#rank-game-layout.type-2 .rank-game-foot button {
  background: var(--color-2-1);
  border: 1px solid var(--color-2-1);
}
#rank-game-layout.type-3 .rank-game-foot button {
  background: var(--color-3-1);
  border: 1px solid var(--color-3-1);
}
#rank-game-layout.type-4 .rank-game-foot button {
  background: var(--color-4-1);
  border: 1px solid var(--color-4-1);
}
/* Rank Game*/


/* Childhodd */
#childhood-layout {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #64B9E2;
  /* background-image: linear-gradient(#FFBB00 1px, transparent 1px), linear-gradient(to right, #FFBB00 1px, #FFD600 1px); */
  /* background-size: 80px 80px; */
  font-family: "ChangwonDangamAsac-Bold";
}

#childhood-layout #childhood-layout-image  {
  height: 100%;
  width: 100%;
  background-image: url(/src/assets/images/bg_childhood2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
}

#childhood-layout .childhood-cloud {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

#childhood-layout .childhood-cloud.cloud-1 > .ant-image {
  top: 80px;
  left: 300px;
  animation: slide-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
#childhood-layout .childhood-cloud.cloud-2 > .ant-image {
  top: 300px;
  left: 300px;
  animation: slide-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) 8s infinite both;
}
#childhood-layout .childhood-cloud.cloud-3 > .ant-image {
  top: 800px;
  left: 300px;
  animation: slide-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s infinite both;
}
#childhood-layout .childhood-cloud.cloud-4 > .ant-image {
  top: 150px;
  left: 300px;
  animation: slide-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s infinite both;
}
#childhood-layout .childhood-cloud.cloud-5 > .ant-image {
  top: 500px;
  left: 300px;
  animation: slide-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite both;
}
#childhood-layout .childhood-cloud.cloud-6 > .ant-image {
  top: 600px;
  left: 300px;
  animation: slide-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) 6s infinite both;
}
#childhood-layout .childhood-cloud.cloud-7 > .ant-image {
  top: 1000px;
  left: 300px;
  animation: slide-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) 7s infinite both;
}
#childhood-layout .childhood-cloud.cloud-8 > .ant-image {
  top: 1200px;
  left: 300px;
  animation: slide-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s infinite both;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2900px);
  }
}

#childhood-layout .childhood-header {
  font-family: "ChangwonDangamAsac-Bold";
  text-align: center;
  padding: 60px 0;
}

#childhood-layout .childhood-content {
  margin-top: 20px;
}

#childhood-layout .childhood-content .ant-card {
  border-radius: 20px;
  border-left: 4px solid #004789;
  border-right: 10px solid #004789;
  border-top: 4px solid #004789;
  border-bottom: 10px solid #004789;
  min-height: 600px;
  margin: 20px 30px;
}

#childhood-layout .childhood-content .ant-card-head-title {
  font-size: 39px;
}

#childhood-layout .childhood-content .ant-card-body .rank-list-data-row {
  margin-bottom: 28px;
  font-size: 50px;
}
#childhood-layout .childhood-content .ant-card-body .rank-list-data-row .rank-list-data-col-1 {
  text-align: center;
  color: #004789;
}
#childhood-layout .childhood-content .ant-card-body .rank-list-data-row .rank-list-data-col-2 {
  padding: 2px 0px 0px 30px;
  font-family: "GmarketSansTTFLight";
  font-weight: bold;
}
#childhood-layout .childhood-content .ant-card-body .rank-list-data-col-3 {
  text-align: right;
  padding: 0px 24px 0px 0px;
  color: #1677ff;
}


#childhood-layout .childhood-content .childhood-row {
  /* margin-bottom: 20px; */
  font-size: 30px;
}

#childhood-layout .childhood-content .childhood-row .ant-steps-item {
  flex: unset;
}

#childhood-layout .childhood-content .childhood-row .ant-steps-item.ant-steps-item-wait.ant-steps-item-custom {
  visibility: hidden;
}
#childhood-layout .childhood-content .childhood-row .ant-steps-item.ant-steps-item-finish.ant-steps-item-custom {
  visibility: hidden;
}
#childhood-layout .childhood-content .childhood-row
.ant-steps-item.ant-steps-item-process.ant-steps-item-custom.ant-steps-item-active
svg {
  z-index: 1000;
  position: fixed;
  /* background-color: #64B9E2; */
}

#childhood-layout .childhood-content .childhood-row
.ant-steps-item.ant-steps-item-process.ant-steps-item-custom.ant-steps-item-active
.ant-steps-icon {
  top: -20px;
}

#childhood-layout .childhood-content .childhood-row
.ant-steps-item.ant-steps-item-process.ant-steps-item-custom.ant-steps-item-active
.team_score {
  position: fixed;
  margin-top: 80px;
  color: #000;
  min-width: 100px;
  text-align: center;
  font-family: "ChangwonDangamAsac-Bold";
}

#childhood-layout .childhood-content .childhood-col-1 {
  text-align: center;
}
/* Childhodd */


/* Map */
#map-layout {
  height: 100%;
  width: 100%;
  position: fixed;
}

#map-layout #content {
  height: inherit;
  display: flex;
}

#map-layout #content #map-info {
  width: 80%;
  height: inherit;
}

#map-layout #content #map-info #map-control {
  position: absolute;
  z-index: 1000;
  display: grid;
  padding: 10px;
}

#map-layout #content #map-info #map-control span {
  font-size: 20px;
  top: 53px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dadce0;
  background: #FFF;
  cursor: pointer;
}

#map-layout #content #map-info #map-control span:hover {
  background: #4096ff;
  color: #FFF;
  border: 1px solid #4096ff;
}

#map-layout #content #team-info {
  width: 20%;
  height: inherit;
  box-shadow: 0 1px 2px rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
  opacity: 1;
  background: #fff;
  z-index: 1000;
}

#map-layout #content #team-info .team-info-search-row {
  height: 130px;
  background-image: url(/src/assets/images/bg_search.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
}

#map-layout #content #team-info .team-info-search-col {
  padding: 10px;
}

#map-layout #content #team-info .ant-input-search {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  border-radius: 24px;
  height: 48px;
  align-items: center;
  display: flex;
  background: #FFF;
}

#map-layout #content #team-info .ant-input-search .ant-input-group {
  padding: 0px 10px 0px 20px;
}

#map-layout #content #team-info .ant-input-search .ant-input {
  border: 0;
  background: unset;
  font-size: 18px;
}

#map-layout #content #team-info .ant-input-search .ant-input-group-addon {
  background: unset;
}

#map-layout #content #team-info .ant-input-search .ant-input-group-addon button {
  border: 0;
  background: unset;
}

#map-layout #content #team-info .ant-input-search .ant-input-group-addon .anticon.anticon-search {
  font-size: 20px;
}

#map-layout #content #team-info .team-info-row {
  height: 43px;
}

#map-layout #content #team-info .team-info-row {
  cursor: pointer;
  border-bottom: 1px solid #dadce0;
  background-color: #FFF;
  z-index: 10;
  padding: 0 10px;
}

#map-layout #content #team-info .team-info-row.selected {
  animation: shadow-inset-tl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#map-layout #content #team-info .team-info-row.selected:hover {
  animation: shadow-inset-tl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#map-layout #content #team-info .team-info-row:hover {
  animation: shadow-drop-2-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  border: 1px solid #dadce0;
}

@keyframes shadow-drop-2-bl {
  0% {
    transform: translateZ(0) translateX(0) translateY(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px) translateX(12px) translateY(-12px);
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-inset-tl {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #F2F3F5;
  }
  100% {
    box-shadow: inset 6px 6px 14px -6px rgba(0, 0, 0, 0.5);
    background-color: #F2F3F5;
  }
}

#map-layout #content #team-info .team-color-input {
  width: 50px;
  height: 30px;
  border: 0;
  background: unset;
}

#map-layout #content #team-info .team-info-row .ant-col {
  display: flex;
  align-items: center;
}

#map-layout #content #team-info .team-info-row span {
  font-size: 20px;
  margin-left: 8px;
  font-family: "GmarketSansTTFBold";
  padding-top: 4px;
}

#map-layout #content .leaflet-container .leaflet-pane.leaflet-marker-pane img {
  /* content: url(/src/assets/images/flag.svg);  */
}

#map-layout #content #teamDeleteModal .ant-modal {
  width: 400px !important;
}
#map-layout #content #teamDeleteModal .ant-modal .ant-modal-close {
  display: none;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-header {
  padding: 24px;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-title {
  font-size: 26px !important;
  font-family: "GmarketSansTTFBold";
  line-height: unset;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body {
  font-size: 24px;
  font-family: "GmarketSansTTFBold";
  /* color: #9E9FA5; */
  max-height: 490px;
  min-height: 220px;
  overflow: auto;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row {
  padding-bottom: 4px;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-col-1 .ant-image {
  margin-right: 10px;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row button {
  border-color: #000;
}
#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row button:focus {
  color: #000;
}
#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row button:hover,
#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row button:active {
  border-color: #ff4d4f;
  background: #ff4d4f;
  color: #FFF;
}

#map-layout #content #teamDeleteModal .ant-modal .anticon.anticon-delete {
  font-size: 24px;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-footer .ant-btn.ant-btn-default {
  width: 70px;
  height: 40px;
  font-size: 16px;
}
#map-layout #content #teamDeleteModal .ant-modal .ant-modal-footer .ant-btn.ant-btn-default:hover {
  background: #A1A2A4;
  color: #FFF;
  border-color: #A1A2A4;
}

#map-layout #content #teamDeleteModal .ant-modal .ant-modal-body .team-delete-row-nodata {
  font-size: 20px;
  font-family: "GmarketSansTTFMideum";
}

.confirm-search-result .ant-modal-content .ant-modal-confirm-body .ant-modal-confirm-title {
  font-size: 26px !important;
  font-family: "GmarketSansTTFBold";
}
.confirm-search-result .ant-modal-content .ant-modal-confirm-body .ant-modal-confirm-content {
  font-size: 30px !important;
  font-family: "GmarketSansTTFBold";
  /* color: #9E9FA5; */
  margin: 20px 0px;
}
.confirm-search-result .ant-modal-content .ant-modal-confirm-body .ant-modal-confirm-content .ant-image {
  margin-right: 10px;
}
.confirm-search-result .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-default {
  width: 70px;
  height: 40px;
  font-size: 16px;
}
.confirm-search-result .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-default:hover {
  background: #A1A2A4;
  color: #FFF;
  border-color: #A1A2A4;
}
.confirm-search-result .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-primary {
  width: 100px;
  height: 40px;
  font-size: 16px;
}

.confirm-team-delete .ant-modal-content .ant-modal-confirm-body .ant-modal-confirm-content {
  font-size: 24px !important;
  font-family: "GmarketSansTTFMideum";
  margin: 20px 0px;
}
.confirm-team-delete .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-default {
  width: 70px;
  height: 40px;
  font-size: 16px;
}
.confirm-team-delete .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-default:hover {
  background: #A1A2A4;
  color: #FFF;
  border-color: #A1A2A4;
}
.confirm-team-delete .ant-modal-content .ant-modal-confirm-btns .ant-btn.ant-btn-default.ant-btn-dangerous:hover {
  border-color: #ff4d4f;
  background: #ff4d4f;
  color: #FFF;
}
/* Map */


/* Map Status*/
#map-status-layout {
  background: #fafafa;
  height: 100%;
  width: 100%;
  position: fixed;
}

#map-status-layout .map-status-refresh {
  text-align: right;
  background: #FFF;
  padding: 10px 10px;
}

#map-status-layout .map-status-refresh button {
  font-size: 16px;
  border: 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}
#map-status-layout .map-status-refresh button:hover,
#map-status-layout .map-status-refresh button:focus {
  color: #000 !important;
}

#map-status-layout .map-status-title {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: "NanumSquareEB";
  background: #FFF;
}

#map-status-layout .map-status-title .ant-col {
  text-align: center;
}

#map-status-layout .ant-tabs-nav-list {
  width: 100%;
  font-family: "GmarketSansTTFMedium";
}
#map-status-layout .ant-tabs-nav-list .ant-tabs-tab {
  text-align: center;
  flex: none;
  display: block;
  margin-left: 0;
  border: 0;
  background: #FFF;
}
#map-status-layout .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active {
  background: #fafafa;
}
#map-status-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(1) {
  width: 50%;
  font-size: 14px;
}
#map-status-layout .ant-tabs-nav-list .ant-tabs-tab:nth-child(2) {
  width: 50%;
  font-size: 14px;
}

#map-status-layout .ant-tabs-content-holder .ant-tabs-tabpane {
  height: calc(100vh - 360px);
  overflow-y: auto;
}

#map-status-layout .ant-tabs-content.ant-tabs-content-top {
  padding: 10px 20px;
}

#map-status-layout .team-color-input {
  width: 30px;
  height: 30px;
  border: 0;
  background: unset;
}

#map-status-layout .team-info-row {
  margin-bottom: 20px;
}

#map-status-layout .team-info-row .ant-col {
  display: flex;
  align-items: center;
}

#map-status-layout .team-info-row span {
  font-size: 18px;
  margin-left: 8px;
  font-family: "GmarketSansTTFBold";
  padding-top: 4px;
}

#map-status-layout .country-info-row {
  margin-bottom: 14px;
}

#map-status-layout .country-info-row span {
  font-size: 18px;
  margin-left: 8px;
  font-family: "GmarketSansTTFBold";
  padding-top: 4px;
}
/* Map Status*/


/* pc page */
.on-pc-icon {
  text-align: center;
  font-size: 100px;
  color: #faad14;
}
.on-pc-status-code {
  display: block;
  margin: 14px 0;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000;
}
.on-pc-status-message {
  display: block;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.4px;
  text-align: center;
  word-break: keep-all;
  color: #666;
}
/* pc page */


/* 404 page */
.not-found-icon {
  text-align: center;
  font-size: 100px;
  color: #faad14;
}
.not-found-code {
  display: block;
  margin: 14px 0;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000;
}
.not-found-message {
  display: block;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.4px;
  text-align: center;
  word-break: keep-all;
  color: #666;
}
/* 404 page */
